@mixin diamond($size) {
  $midSize: $size / 2;

  height: $size;
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: red;
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
    border-color: transparent red;
  }
  &:before {
    left: -$midSize;
    border-width: $midSize $midSize $midSize 0;
  }
  &:after {
    right: -$midSize;
    border-width: $midSize 0 $midSize $midSize;
  }
}

.diamond {
  &-md {
    @include diamond($size: 40px);
  }

  &-sm {
    @include diamond($size: 34px);
  }
}
